.header{
    display: flex;
    justify-content: space-around;
}
.myBlog{
    margin-left: 50px;
}
.itemWrapper{
    margin-top: 30px;
}
.item{
    margin-left: 20px;
    border-right: 2px solid black;
    padding-right: 20px;
}
.last{
    border: none;
 }
