.FormPost {
    width: 90%;
    margin: 30px auto;
    border: 2px solid black;
    padding: 15px;
}
.FormPost h3 {
    margin-top: 0;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title {
    width: 100%;
    margin: 10px 0;
}
.description {
    width: 100%;
    height: 100px;
    margin: 5px 0;
}